.icon-background{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ff9100;
    display: flex;          /* Add Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;  
}
.contact-title{
    font-family: 'Poppins';
}