.home-bg-img {
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    //       /* Add padding-bottom to make space for the card */
    //   padding-bottom: 150px;
}

.home-bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Light black overlay with 50% opacity */
    z-index: 1;
    /* Ensure the overlay is above the background image */
}

.hero-heading {
    font-family: 'Poppins';
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    width: 100%;
}

.hero-description {
    font-family: 'Poppins';
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
}



.btn-explore {
    font-size: 15px;
    border-radius: 20px;
    padding: 6px 15px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;

}


.btn-explore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-explore:hover {
    background-color: #ff9100;
}

.btn-explore span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.btn-explore:hover span {
    padding-right: 15px;
}

.btn-explore:hover span:after {
    opacity: 1;
    right: 0;
}

.search-card {
    font-family: Open sans;
    font-size: 14px !important;
    width: 90%;
    margin-top: -50px;
    box-shadow: rgba(110, 110, 110, 0.5) 0px 7px 29px 0px;
    z-index: 3;

    .hero-input {
        padding: 4px 6px !important;
        font-size: 14px !important;
    }

    .search-btn {
        width: 90%;
        background-color: #ff9100 !important;
        padding: 4px 20px !important;
    }
}


@media (max-width: 767px) {
    .home-bg-img {
        height: 510px;
    }

    .search-card {
        margin-top: -100px;
    }
}

@media (max-width: 385px) {
    .btn-explore {
        display: none;
    }
}


// destination section
.destination-section {
    font-family: "Poppins";
    margin-top: 85px;
}
.carousel-container-icon{
    width: 100%;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
.section-icon-pre{
    position: absolute !important;
    bottom: 0;
    left: 35% !important;
    cursor: pointer;
    transition: color 0.5s ease;
    z-index: 30;
}
.section-icon-next {
    position: absolute !important;
    bottom: 0;
    right: 35% !important;
    cursor: pointer;
    transition: color 0.5s ease;
    z-index: 20;
}
.carousel-inner, .carousel, .carousel-item{
    background: white !important;
    color: none !important;
}
@media (max-width: 550px) {
    .section-icon-next, .section-icon-pre {
        display: none;
    }
}
.line {
    margin-left: 30px !important;
    height: 4px;
    background-color: #ff9100;
    width: 35px;
    border-radius: 4px;
}

.destination-card {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(110, 110, 110, 0.5) 0px 7px 25px 0px;
    // box-shadow: rgba(110, 110, 110, 0.5) 0px 7px 25px 0px;

    .img-container {
        position: relative;
        width: 100%;
        height: 210px;
        overflow: hidden;
        object-fit: cover;


        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .img-overlay {
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: bottom 0.5s ease;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .overlay-btn {
                background-color: #ff9100; // Primary color
                border: 1px solid #ff9100;
                color: black;
                padding: 4px 8px 3px 8px;
                border-radius: 100%;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #444343;
                    color: #fff;
                    border-color: #444343;
                }
            }
        }
    }

    &:hover .img-overlay {
        bottom: 0;
    }

    .card-body {
        position: relative;
        z-index: 2;
    }

}


// offer section
.offer-section {
    font-family: "Poppins";
    margin-top: 80px;
}

.offer-label {
    font-size: 12px;
    color: #ff9100;
    background-color: #f0ebeb;
    padding: 3px 9px;
    border-radius: 15px;
}

.offer-card {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(110, 110, 110, 0.5) 0px 7px 25px 0px;
    transition: transform 0.8s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px); // Move the card upward by 10px
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; // Add shadow effect on hover
    }
}

// blog section
.blog-section {
    font-family: "Poppins";
    margin-top: 80px;
}
.blog-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    @media (max-width: 440px) { // Adjust for medium screens
       flex-direction: column;
    }
}

.img-container-blog {
    width: 200px;
    height: 205px;
    background-color: #dbd6d6;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden; // Ensure the image doesn't overflow when zoomed in

    @media (max-width: 989px) { // Adjust for medium screens
        width: 160px;
    } 
    @media (max-width: 767px) { // Adjust for medium screens
        width: 200px;
    } 
    @media (max-width: 440px) { // Adjust for medium screens
        width: 100%;
    } 
}

.blog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.8s ease; // Smooth transition for the zoom effect

    &:hover {
        transform: scale(1.1); // Slightly zooms in the image
    }
}

.content-container-blog {
    padding-left: 10px; // Add some spacing between the image and content
    flex-grow: 1; // Allow the content container to grow and take up remaining space
}

.blog-description {
    font-size: 14px;
    text-align: justify;
    margin-top: -10px;
}

.btn-container {
    margin-top: -10px;

}

.blog-read-btn {
    border: none;
    color: #ff9100;
    background: none;
    cursor: pointer; // Add cursor pointer for better UX
    position: relative; // Required for positioning the arrow

    span {
        display: inline-block; // Allows transition on transform
        transition: transform 0.3s ease; // Smooth transition for the arrow
    }

    &:hover span {
        transform: translateX(5px); // Moves the arrow 5px to the right on hover
    }
}
